.container {
  /* padding: 0 2rem; */
}
/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.heading {
  text-align: center;
  font-size: 4rem;
  color: white;
}
.heading a {
  color: mediumvioletred;
  text-decoration: none;
}
.paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-style: italic;
}
.code {
  color: darkgoldenrod;
}
.cardcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 9%;
}
.card {
  border: 1px solid white;
  color: white;
  background-color: black;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.card:hover {
  color: mediumvioletred;
  border-color: mediumvioletred;
  box-shadow: 0 4px 8px 0 gray;
}
.footer {
  background: linear-gradient(45deg, black, mediumvioletred);
  /* border-top: 1px solid white; */
  /* height: 57px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
